*.db
*.db*
*.egg-info
*.idea
*.log
*.pyc
*.py~
*.wsgi
*~
.coverage
build/
cover/
dist/
docs/_build/
env/
invoices/
utils/
off/
pyramid.pid
python-eggs/
pytz-2014.9-py2.7.egg
static_docs/

# ignore local test settings
nosetests.xml

# certificate files are in a separate private repository
certificate/

