td, th {padding-left: 1em;
        padding-right: 1em;
}

.message { background-color: #d9f0c8;
           font-family: monospace;
           font-size: 1em;
}

h1, h2 { padding-right: 1em;
         padding-left: 1em;
}

th { text-align: left;
}